table {
  border: solid 1px #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
  font: normal 13px Arial, sans-serif;
}

table thead th {
  background-color: #DDEFEF;
  border: solid 1px #DDEEEE;
  color: #336B6B;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #fff;
}

table tbody td {
  border: solid 1px #DDEEEE;
  color: #333;
  padding: 5px;
  text-shadow: 1px 1px 1px #fff;
}

.search-input {
  padding: 5x;
  float: right;
}

.paginate-div {
  margin-top: 10px;
  margin-bottom: 40px;
}

textarea {
  padding: 10px;
}

.m-2 {
  padding: 10px;
}

.do-not-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e9e9e9; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #313131; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222; 
}