.pagination .active a {
    color: #143361;
    background-color: transparent;
    font-weight: 600;
}

.pagination .active a:hover {
    background-color: transparent;
    color: #143361;
    border: 0px;
}

.pagination .active a:focus {
    background-color: transparent;
    color: #143361;
    outline: none;
}

.pagination li a {
    border: 1px;
    margin-left: 0px;
    color: #707070;
    padding: 7px 2px;
    margin: 0px 20px;
}

.pagination li a:hover {
    background-color: transparent;
    color: #4A90E2;
    padding-bottom: 2px;
    border-bottom: 1px solid;
}

.pagination li a:focus {
    outline: none;
    background-color: transparent;
    /*color:#707070;*/
}

.pagination li:first-child a,
.pagination li:last-child a {
    border: 2px solid #143361 !important;
    border-radius: 6px;
    margin: 0px;
    padding: 6px 12px;
    border: 2px solid;
    font-size: 14px;
    color: #143361;
}

.pagination li:first-child a:hover,
.pagination li:last-child a:hover {
    text-decoration: none !important;
    color: #fff;
    background-color: #143361;
}

.pagination li:first-child a:focus,
.pagination li:last-child a:focus {
    outline: none;
}


ul {
    list-style: none;
}

li {
    float: left;
    cursor: pointer;
}